extends ../layout

block content
  form(action='/users/register' method='post')
    input#email(type='text' name='email')
    input#password(type='text' name='password')
    input(type='submit')

  p Need to login? 
    a(href='/users/login') Do it here!
