extends layout

block content
  main.row
    section.col.s6.game-listing
      .active-games

      form(method='post', action='/games/create')
        button.btn.waves-effect.waves-light.create-game(type='submit') Create A Game
          i.material-icons.right send

    section.col.s6.chat
      p This is the chat area

block scripts
  script(src='/javascripts/lobby.js')